@model IEnumerable<Admin_WebRuou.Models.SanPhamFavourite>

@{
    ViewData["Title"] = "SanPhamBanNhieu";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="gaming-library">
                    <div class="col-lg-12">
                        <center>
                            <div class="heading-section">
                                <h4>Most sold products</h4>
                            </div>
                        </center>
                        <table width="70%" cellpadding="5" align="center">
                            <tr style="background-color:gray">
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Numerical order</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Product's name</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th align="center">
                                    <div>
                                        <ui>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Sales ​​number</a></li>
                                        </ui>
                                    </div>
                                </th>
                                <th align="center">
                                    <div>
                                        <ui>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px"><i class="fa fa-star fa-2xl" style="color:yellow"></i></a></li>
                                        </ui>
                                    </div>
                                </th>
                            </tr>
                            @if (true)
                            {
                                int dem = 0;
                                foreach (var item in Model)
                                {
                                    dem++;
                                    <tr>
                                        <td align="center">
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@dem</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Name</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div>
                                                <ul>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Tongmua.ToString("N").Substring(0,@item.Tongmua.ToString("N").Length-3)</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div>
                                                <ul>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Evaluate.ToString("N").Substring(0,@item.Evaluate.ToString("N").Length-3)</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
