<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="gaming-library">
                    <div class="col-lg-12">
                        <div class="heading-section">
                            <center>
                                <h4><em>@ViewBag.msg</em></h4>
                                    <a href="@Url.Action("ListSanPham", "KhachHang")">
                                        <span class="btn btn-success">Back</span>
                                    </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
