@model App_WebRuou.Models.KhachHang

@{
    ViewBag.Title = "Sign in to Wine";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-5">
                                    <img src="~/assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="col-lg-7 align-self-center">
                                    <div class="main-info header-text">
                                        <div class="text col-lg-12 text-center">
                                            <form asp-action="Login" asp-controller="KhachHang" enctype="multipart/form-data" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="row">
                                                    <!--Email -->
                                                    <div class="input-group col-lg-12 mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                                <i class="fa fa-envelope text-muted"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" placeholder="Enter Email..." name="varEmail" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="form-control bg-white border-left-0 border-md" />
                                                    </div>

                                                    <!-- Password -->
                                                    <div class="input-group col-lg-12 mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                                <i class="fa fa-lock text-muted"></i>
                                                            </span>
                                                        </div>
                                                        <input name="varPassword" type="password" placeholder="Enter password..." style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="form-control bg-white border-left-0 border-md" />
                                                    </div>
                                                    <input type="hidden" asp-for="Password" />

                                                    <!-- Submit Button -->
                                                    <div class="form-group col-lg-12 mx-auto mb-0">
                                                        <input type="submit" value="Login" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px" class="btn btn-primary ctn-sm btn-block py-2 font-weight-bold" />
                                                    </div>
                                                    <!-- Already Registered -->
                                                    <div class="text-center w-100">
                                                        <br />
                                                        <p class="text-muted font-weight-bold">Don't remember the password? <a href="@Url.Action("ResetPassword", "KhachHang")" style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px">Forgot password</a></p>
                                                        <p class="text-muted font-weight-bold">Haven't Created an Account? <a href="@Url.Action("Registration", "KhachHang")" style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px">Register</a></p>

                                                    </div>
                                                    <div class="text-center w-100">
                                                        <br />
                                                        <h5 style="color:#ec6090">@ViewBag.msg</h5>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
