@{
    ViewData["Title"] = "Payment";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="page-content">
                <div class="gaming-library">

                    <div class="col-lg-12">
                        <div class="heading-section">
                            <h4><em>Payment orders </em>@ViewBag.UserName_</h4>
                        </div>
                        <br />
                        <form asp-action="KiemTraPTTT" asp-controller="KhachHang" enctype="multipart/form-data" method="post">
                            <div>
                                <ul>
                                    <a style="color:white; font-size:large">Select a payment method:&nbsp;&nbsp;&nbsp;</a>
                                    <br />
                                    <table width="70%" cellpadding="10">
                                        <tr>
                                            <td width="11%">
                                                <img src="~/Images/paypal2.png" height="30" alt="">
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="PayPal" id="flexRadioDefault1" checked>
                                                    <label class="form-check-label" style="color:white" for="flexRadioDefault1">
                                                        PayPal
                                                    </label>
                                                </div>
                                            </td>
                                            <td width="11%">
                                                <img src="~/Images/momo.png" height="40" alt="">
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="Momo" id="flexRadioDefault2">
                                                    <label class="form-check-label" style="color:white" for="flexRadioDefault2">
                                                        Momo
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="11%">
                                                <img src="~/Images/zalopay.png" height="40" alt="">
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="Zalo" id="flexRadioDefault3">
                                                    <label class="form-check-label" style="color:white" for="flexRadioDefault3">
                                                        Zalo Pay
                                                    </label>
                                                </div>
                                            </td>
                                            <td width="11%">
                                                <img src="~/Images/cod.png" height="40" alt="">
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="COD" id="flexRadioDefault4">
                                                    <label class="form-check-label" style="color:white" for="flexRadioDefault4">
                                                        Payment on delivery
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <br></br>
                                    <center>
                                        <div class="form-group">
                                            <input type="submit" value="Payment" class="btn btn-secondary btn-sm"/>
                                        </div>
                                    </center>
                                </ul>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
