@model Admin_WebRuou.Models.User
@{
    ViewData["Title"] = "ChangeInfo";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-5">
                                    <img src="~/assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="col-lg-7 align-self-center">
                                    <div class="main-info header-text">
                                        <div class="text col-lg-12 text-center">
                                            <center>
                                                <div>
                                                    <p><a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px"><b>Change information</b></a></p>
                                                </div>
                                            </center>
                                            <br />
                                            <form asp-action="ChangeInfo" enctype="multipart/form-data" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="row">
                                                    <!--UserName -->
                                                    <div class="input-group col-lg-12 mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                                <i class="fa fa-user text-muted"></i>
                                                            </span>
                                                        </div>
                                                        <input placeholder="First and last name" asp-for="UserName" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="form-control bg-white border-left-0 border-md" />
                                                    </div>

                                                    <!-- Email Address -->
                                                    <div class="input-group col-lg-12 mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                                <i class="fa fa-envelope text-muted"></i>
                                                            </span>
                                                        </div>
                                                        <input placeholder="Email" asp-for="Email" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="form-control bg-white border-left-0 border-md" />
                                                    </div>

                                                    <input type="hidden" asp-for="Id" />
                                                    <input type="hidden" asp-for="Password" />
                                                    <input type="hidden" asp-for="Status" />

                                                    <!-- Submit Button -->
                                                    <div class="form-group col-lg-12 mx-auto mb-0">
                                                        <input type="submit" value="Change" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px" class="btn btn-primary btn-sm btn-block py-2 font-weight-bold" />
                                                    </div>
                                                    <div class="text-center w-100">
                                                        <br />
                                                        <h5 style="color:#ec6090">@ViewBag.msg</h5>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <section class="no-padding-top no-padding-bottom">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="text col-lg-5 text-center">
                    <img src="~/Images/thongtin.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
                    <h1 style="color:#ec6090">Change information</h1>
                </div>
                <div class="text col-lg-7">
                    <br />
                    <br />
                    <form asp-action="ChangeInfo" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <!--UserName -->
                            <div class="input-group col-lg-12 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                                        <i class="fa fa-user text-muted"></i>
                                    </span>
                                </div>
                                <input placeholder="First and last name" asp-for="UserName" class="form-control bg-white border-left-0 border-md" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <!-- Email Address -->
                            <div class="input-group col-lg-12 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                                        <i class="fa fa-envelope text-muted"></i>
                                    </span>
                                </div>
                                <input placeholder="Email" asp-for="Email" class="form-control bg-white border-left-0 border-md" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <input type="hidden" asp-for="Password" />
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Status" />

                            <!-- Submit Button -->
                            <div class="form-group col-lg-12 mx-auto mb-0">
                                <input type="submit" value="Change" class="btn btn-primary btn-block py-2 font-weight-bold" />
                            </div>
                            <div class="text-center w-100">
                                <br />
                                <h5 style="color:#ec6090">@ViewBag.msg</h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@