<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-5">
                                    <img src="~/assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="col-lg-7 align-self-center">
                                    <div class="main-info header-text">
                                        <div class="text col-lg-12 text-center">
                                            <center>
                                                <div>
                                                    <p><a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px"><b>Reset Password</b></a></p>
                                                </div>
                                            </center>
                                            <br />
                                            <form asp-action="ResetPassword" enctype="multipart/form-data" method="post">
                                                <!-- Email Address -->
                                                <div class="input-group col-lg-12 mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                            <i class="fa fa-envelope text-muted"></i>
                                                        </span>
                                                    </div>
                                                    <input placeholder="Enter your email address" name="EmailAddress" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="form-control bg-white border-left-0 border-md" />
                                                </div>

                                                <!-- Submit Button -->
                                                <div class="form-group col-lg-12 mx-auto mb-0">
                                                    <input type="submit" value="Next" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px" class="btn btn-primary btn-sm btn-block py-2 font-weight-bold" />
                                                </div>
                                                <!-- Already Registered -->
                                                <div class="text-center w-100">
                                                    <br />
                                                    <p class="text-muted font-weight-bold">Already have an account? <a href="@Url.Action("Login", "User")" style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px">Login</a></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
