@model App_WebRuou.Models.PartialView1
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6></h6>
                                <h4>What do you want to buy <em>today?</em></h4>
                                <div class="main-button">
                                    <a href="@Url.Action("ListSanPham", "KhachHang")">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
                @await Html.PartialAsync("DanhgiaPartialView",Model.pv2.ToList());
                @await Html.PartialAsync("DonHangPartialView",Model.pv1.ToList());

            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="~/assets/js/isotope.min.js"></script>
<script src="~/assets/js/owl-carousel.js"></script>
<script src="~/assets/js/tabs.js"></script>
<script src="~/assets/js/popup.js"></script>
<script src="~/assets/js/custom.js"></script>



